@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes load89234 {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.card_load_extreme_descripion {
  width: 100%;
  height: 160px;

  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  margin-bottom: 5px;
  background-size: 200% 100%; /* Necesario para la animación */
  animation: load89234 1.5s infinite; /* Duración de la animación */
}
